* { margin: 0; padding: 0; outline: 0; }
body {  color: #343434; text-align: left; background-image:url(images/light_noise_diagonal.png); }

html,body{ height:100%; }
a { color:#333; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, select, textarea { font-family:Arial, Helvetica, sans-serif; } 
input[type='submit']
{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; 
}
input[type=text]::-ms-clear {
    display: none;
}

input[type=password]::-ms-reveal {
    display: none;
}


.ar { display: block; text-align: right; }
.al { display: block; text-align: left; }
.ac { display: block; text-align: center; }
.acc { display: block; text-align: justify; }
.cl { clear: both; height: 0; line-height: 0; font-size: 0; text-indent: -4000px; }
.fr { float: right; display: inline; }
.fl { float: left; display: inline; }

.hidden { display: none; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.shell { margin: 0 auto; width: 960px; }
.DA_custom_form .hidden{ display: none;}
.DA_custom_form textarea, .DA_custom_form input { outline: none; }

h1#logo{ width:80%; max-width:530px; text-align: center; margin:0px auto 0 auto; margin-bottom:50px; margin-top:50px;}
h1#logo img{ width:100%; }

#header { position:relative; z-index: 1; height:157px; background: url(images/header.jpg) no-repeat center 0;}



/************************ popup styles *********************************/
#popup{  position: absolute; top:70px; z-index: 1000; width:100%;}
#popup p.close-window{ 
    padding-bottom:15px; 
    display: block; 
    font-size: 14px; 
    text-align: center; 
    font-family:Arial, Helvetica, sans-serif;
}
#popup p.close-window a{ color:#2fb0d7; }
#popup a:hover.close{ text-decoration: underline}
#popup .DA_custom_form{ position: relative;}

#black-screen{width:100%; background:#000; height:100%; position:fixed; top:0; left:0; z-index:10; opacity: 0.7; -moz-opacity: 0.7;}
#black-screen{filter:alpha(opacity=70); min-height: 100%; height: auto!important; height:100%;}

/***************************** end of popup styles *************************/


/************************** header bar styles ********************/

h3{ 
    font-size: 24px; 
    line-height:69px; 
    color:#fff; 
    text-shadow: #4f9aaa 0px 2px 0px; 
    background:#2fb0d7; 
    text-align: center; 
    font-weight: normal; 
    font-family: 'Bitter', Arial, sans-serif;
    border:solid 1px #2fb0d7; 
    -webkit-border-radius: 5px 5px 0px 0px; 
    border-radius: 5px 5px 0px 0px; 
    margin:0;
}
h3.red{ background:#e14f49; border:solid 1px #e14f49; text-shadow: #af3a36 0px 2px 0px;}
h3.green{ background:#07c8b3; border:solid 1px #07c8b3; text-shadow: #008d7e 0px 2px 0px;}

/************************ end of header bar styles *************/

/************** form container styles*********************/
.DA_holder{ width:80%; margin:16px 10%; padding:0;  display: inline-block;}

.DA_radio_holder, 
.DA_check_holder, 
.DA_select_holder{ position:relative;}

.DA_check_holder, .DA_radio_holder{ margin:16px 10%;}
.DA_radio_holder{ padding:0px 0 0 0;}
/************** end of form container styles*********************/

/********************* text fields frames styles **********************/

.DA_custom_form{ margin:0 auto 30px auto; padding-bottom:15px; max-width:700px; padding:0 10px; position: relative; z-index: 1}
.DA_custom_form .DA_field_container{ display: block; width:100%; height:25px; padding:10px 0;  border:solid 1px #ccc; }
.DA_custom_form .DA_field_container{ -webkit-border-radius: 3px; border-radius: 3px; }
.DA_custom_form .DA_field_container{ position: relative; z-index: 1;}

.DA_custom_form .textarea-frame{ display: block; width:100%; height:160px; padding:10px 0;  border:solid 1px #ccc; }
.DA_custom_form .textarea-frame{ -webkit-border-radius: 3px; border-radius: 3px;}
.DA_custom_form .textarea-frame{ position: relative; z-index: 1;}

/**** Here you can change the color of the validation signs in the end of the fields ****/
.DA_custom_form p{ display:none;}
.DA_custom_form span{ color:#e4e4e4; float: right; text-align: left; width:5%; font-size: 21px; line-height:26px; }
.DA_custom_form  span.error, .DA_custom_form a.error{ color:#f27669;}
.DA_custom_form span.ok{ color:#3abf9d;}

.DA_custom_form .field{ float: left; display: inline; width:93%;  font-size: 14px; line-height:14px; border:0; color:#c6c6c6; }
.DA_custom_form .field{ font-weight: bold; height:100%; padding:0 0 0 2%; overflow:auto; resize: none; position: relative; z-index: 1}

.DA_inner_frame{ background:#fff; padding-top:10px; padding-bottom:20px;  -webkit-border-radius: 0px 0px 5px 5px; }
.DA_inner_frame{ border-radius: 0px 0px 5px 5px; box-shadow:  0px 2px 2px 1px rgba(0, 0, 0, 0.1); }

/****************** end of text fields styles *******************/

/********************* submit buttons styles *********************/

.DA_custom_form .btnp input{ background:#393939; font-size: 20px; color:#fff; height:50px; line-height:50px; width:30%; }
.DA_custom_form .btnp input{ cursor:pointer; text-shadow: #202020 0px 2px 0px; font-family: 'Bitter',Arial,  sans-serif;  }
.DA_custom_form .btnp input{ webkit-box-shadow: 0px 3px 0px 0px #202020; box-shadow: 0px 3px 0px 0px #202020; }
.DA_custom_form .btnp input{ -webkit-border-radius: 10px; border-radius: 10px;}
.DA_custom_form .btnp input{ border:solid 1px #202020; text-align: center; margin:25px auto; display: block;}

.DA_custom_form .btnp .blue{ background:#2fb0d7; webkit-box-shadow: 0px 3px 0px 0px #2188a7; box-shadow: 0px 3px 0px 0px #2188a7;}
.DA_custom_form .btnp .blue{ border:solid 1px #2188a7; color:#fff; text-shadow: #2188a7 0px 2px 0px;}

.DA_custom_form .btnp .red{ background:#e14f49; webkit-box-shadow: 0px 3px 0px 0px #b2332d; box-shadow: 0px 3px 0px 0px #b2332d; }
.DA_custom_form .btnp .red{ border:solid 1px #b2332d; text-shadow: #b2332d 0px 2px 0px;}

.DA_custom_form input[type="submit"]:hover{ background: #696969; webkit-box-shadow: 0px 3px 0px 0px #464646;  }
.DA_custom_form input[type="submit"]:hover{ box-shadow: 0px 3px 0px 0px #464646; border:solid 1px #464646; }
.DA_custom_form input[type="submit"]:hover{ text-shadow: #464646 0px 2px 0px;   }

.DA_custom_form input.blue[type="submit"]:hover{ background: #2188a7; webkit-box-shadow: 0px 3px 0px 0px #15647c; }
.DA_custom_form input.blue[type="submit"]:hover{ box-shadow: 0px 3px 0px 0px #15647c; border:solid 1px #2188a7; }
.DA_custom_form input.blue[type="submit"]:hover{ text-shadow: #15647c 0px 2px 0px; }

.DA_custom_form input.red[type="submit"]:hover{ background: #b2332d; webkit-box-shadow: 0px 3px 0px 0px #8f2722; }
.DA_custom_form input.red[type="submit"]:hover{ box-shadow: 0px 3px 0px 0px #8f2722; border:solid 1px #8f2722;  }
.DA_custom_form input.red[type="submit"]:hover{ text-shadow: #8f2722 0px 2px 0px; }

/********************** end of submit buttons styles *****************/

label.fl{ line-height:23px; margin-left:-10px; width:80%;}

/****************** check box and radio button styles **********************/

.DA_custom_form .check-box{ float: left; display: inline;  }

.DA_custom_form span.checkbox{ line-height:0px; padding:0; width:auto; float: left; display: inline; cursor:default; }
.DA_custom_form span.checkbox{ margin:0px 8px 0 0;  width:auto; height:23px;}
.DA_custom_form span.cust_checkbox_on{ }
.DA_custom_form span.cust_checkbox .icon-ok{ float: left; display: inline;  line-height:20px;  color:#fff; height:20px; width:20px; }
.DA_custom_form span.cust_checkbox .icon-ok{ border:solid 1px #ccc;}
.DA_custom_form span.cust_checkbox_on .icon-ok{ color:#f27669;}
.DA_custom_form .check{ float: left; display: inline; }

.DA_custom_form span.radio {  line-height:0px; padding:0; width:auto; float: left; display: inline; cursor:default; }
.DA_custom_form span.radio {  margin:0px 8px 0 0;    width:auto; height:21px; padding-bottom:6px}
.DA_custom_form span.cust_checkbox .icon-circle{ float: left; display: inline;  line-height:22px; width:21px; height:21px; color:#fff;  }
.DA_custom_form span.cust_checkbox .icon-circle{ border-radius:20px; -webkit-border-radius:20px;  border:solid 1px #ccc; }
.DA_custom_form span.cust_radio_on .icon-circle{ color:#3abf9d; border:solid 1px #ccc; font-size: 17px; text-align: center; }

.DA_custom_form .select_field{ border:0; visibility:hidden; font-size: 0; line-height:0; text-indent: -4000px; height:0!important; }
.DA_custom_form .select_field{ padding:0; float: left;}
 @-moz-document url-prefix() {.radio-btn, .check-box { visibility:hidden;  width:0;}}
 
 .DA_custom_form .radio-btn, .DA_custom_form .check-box{ border:0; font-size: 0; line-height:0; text-indent: -4000px; }
 .DA_custom_form .radio-btn, .DA_custom_form .check-box{ height:0!important; padding:0; float: left; margin-left:-4000px }

/****************** end of check box and radio button styles **********************/

/******************** two fields on one row in vertical form view ****************/

.DA_custom_form .DA_double{ width:37.5%!important; margin:16px 0; float:left; display: inline; }
.DA_custom_form .DA_double span{ width:12%!important; }
.DA_custom_form .DA_double .field{ width:85%!important; }
.DA_custom_form .left_aligned{ padding:0 5% 0 10%!important;}

/******************** end of two fields on one row in vertical form view ****************/

/***************** labels styles *********************/

.DA_check_holder label, .DA_radio_holder label{ padding:0; }
.DA_custom_form .DA_check_holder label.error{ bottom:-22px!important; }
.DA_custom_form .DA_radio_holder label.error{ bottom:-22px!important; }


.DA_custom_form .DA_radio_holder label.error, 
.DA_custom_form .DA_check_holder label.error{ left:0; right:auto!important;}

.DA_radio_holder label.error em, 
.DA_check_holder label.error em{ left:5px; right:auto;}
 

.DA_custom_form label{ font-size: 14px; color:#898989; display: block; font-family:Arial, Helvetica, sans-serif; font-weight: normal;}
.DA_custom_form label{ padding-bottom:8px}
.DA_custom_form label.valid{ display:none!important;}
.DA_custom_form label.error{ height:21px; font-size: 12px; position:absolute;  bottom:-31px; right:0; z-index: 100; float: right;}
.DA_custom_form label.error{ font-weight: normal;  }
.DA_custom_form label.error{  background:#f27669; color:#fff; padding:0 5px; }
.DA_custom_form label.error{ border:solid 1px #f27669; -webkit-border-radius: 4px; border-radius: 4px; line-height:21px; }
.DA_custom_form label.error{ -webkit-box-shadow: 0px 1px 0px 0px #b65a44; box-shadow: 0px 1px 0px 0px #b65a44;}
.DA_custom_form label.error:after{
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(242,118,105,1) transparent;
    border-width: 0 7px 7px 7px;
    top: -7px;
    content: "";
    display: block;
    right: 12px;
    position: absolute;
    z-index: 99;
}
.DA_check_holder label.error:after, .DA_radio_holder label.error:after{
	border: solid;
    border-color: #111 transparent;
    border-color: rgba(242,118,105,1) transparent;
    border-width: 0 7px 7px 7px;
    top: -7px;
    content: "";
    display: block;
    right: auto;
    left:3px;
    position: absolute;
    z-index: 99;
}
.DA_custom_form label.error em{ font-style: normal; width:0px; 
    height:0px; 
    border-left:7px solid transparent;  /* left arrow slant */
    border-right:7px solid transparent; /* right arrow slant */
    border-bottom:7px solid #f27669; /* bottom, add background color here */
    font-size:0px;
    line-height:0px;
    position:absolute;
    top:-7px;
    right:13px;
}

.DA_custom_form .arrow {
	width:0px; 
	height:0px; 
	border-left:7px solid transparent;  /* left arrow slant */
	border-right:7px solid transparent; /* right arrow slant */
	border-bottom:7px solid #f27669; /* bottom, add background color here */
	font-size:0px;
	line-height:0px;
	position:absolute;
	top:-7px;
	right:13px;
}
/***************** end of labels styles *********************/

/****************** forgot password link style ***************/

.DA_custom_form small.ac {  position:relative; z-index: 1; margin:-10px 0 10px 0; font-family: Arial, Helvetica, sans-serif; }
.DA_custom_form small a{ font-size: 14px; color:#2fb0d7; position:relative; z-index: 1; margin:-10px 0 10px 0;}

/****************** forgot password link style ***************/

/****************************** select box custom styles ********************************/

.DA_custom_form .sbHolder{
    height:25px; border:solid 1px #ccc; -webkit-border-radius: 3px; border-radius: 3px;
    padding:10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    width: 100%;
}
.DA_custom_form .sbHolder:focus .sbSelector{
    
}
.DA_custom_form .sbSelector{
    display: block;
    height: 25px;
    left: 0;
    line-height: 25px;
    outline: none;
    overflow: hidden;
    position: absolute;
    text-indent: 16px;
    padding:10px 0text-decoration: none;
    top: 10px;
    width: 80%;
}
.DA_custom_form .sbSelector:link, .sbSelector:visited, .sbSelector:hover{
    color: #c6c6c6;
    outline: none;
    text-decoration: none;
}
.DA_custom_form .sbToggle{
    display: block;
    height: 30px;
    outline: none;
    position: absolute;
    right: 1%;
    top: 13px;
    width: 30px;
    font-size: 20px;
    color:#3abf9d;
    text-align: center;
}
.DA_custom_form .sbToggle:hover{ text-decoration: none; }

.DA_custom_form .sbToggleOpen:hover{ text-decoration: none; }
.DA_custom_form .sbHolderDisabled{ background-color: #3C3C3C; border: solid 1px #515151; }

.DA_custom_form .sbOptions{
    background-color: #fff;
    border:solid 1px #b0b0b0; -webkit-border-radius: 3px; border-radius: 3px;
    list-style: none;
    left: -1px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 60px!important;
    width: 100%!important;
    z-index: 1001;
    overflow-y: auto;
}
.DA_custom_form .sbOptions li{ width:100%!important; }

.DA_custom_form .sbOptions a{
    border-bottom: dotted 1px #515151;
    display: block;
    outline: none;
    width:97%;
    padding: 12px 0 12px 3%;
}
.DA_custom_form .sbOptions a:link, .DA_custom_form .sbOptions a:visited{
    color: #626262;
    text-decoration: none;
}
.DA_custom_form .sbOptions a:hover,
.DA_custom_form .sbOptions a:focus,
.DA_custom_form .sbOptions a.sbFocus{
    color: #3abf9d;
}
.DA_custom_form .sbOptions li.last a{ border-bottom: none; }

.DA_custom_form .sbOptions .sbDisabled{
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}
.DA_custom_form .sbOptions .sbGroup{
    border-bottom: dotted 1px #515151;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}
.DA_custom_form .sbOptions .sbSub{ padding-left: 17px; }

/****************************** end of select box custom styles ********************************/

/*************************************** HORIZONTAL FORM STYLE *****************************************/

.DA_custom_form .horizontal{  width:90%; float: left; display: inline; margin:17px 5%;}
.DA_custom_form .horizontal label{ float: left; display: inline; width:35%; padding:0; line-height: 45px}
.DA_custom_form .horizontal  label.fl{ width:80%; line-height: 23px; padding-bottom:8px; }
.DA_custom_form .horizontal label.error{ display: block; float: none; width:auto; line-height: 22px; padding:0 5px;}
.DA_custom_form .horizontal .hidden{ display: none!important; }
.DA_custom_form .horizontal .DA_field_container{ float: left; display: inline; width:64%;}
.DA_custom_form .horizontal  .DA_field_container span{ width:6.5%;}
.DA_custom_form .horizontal .field{ width:91.5%;}
.DA_custom_form .horizontal .sbHolder{ width:64%; float:left;}
.DA_custom_form .horizontal .textarea-frame { width:64%; float: left; display: inline; }

/* -------------------------------  Media Query Max Width 320 ------------------------------- */

@media only screen and (max-width:320px){

	.DA_custom_form .field{ width:86%!important;}
    .DA_custom_form .DA_double .field{ width:86%!important;}
    .DA_custom_form .textarea-frame{ padding-top:4px;}
    .DA_custom_form .left_aligned{ padding:0!important;}
    .DA_custom_form .btnp input{ width:40%; height:40px; line-height:40px;}

    .DA_custom_form label.error{ font-size: 11px;  }
    .DA_custom_form label.fl{ font-size: 14px; margin-left:-15px;}
    .DA_custom_form label.error:after{ right:7px;}
    .DA_custom_form .DA_check_holder label.error:after{ right:auto;}
    .DA_custom_form .DA_radio_holder label.error:after{ right:auto;}

    .DA_custom_form h3{ font-size: 18px; line-height:25px;}
    .DA_custom_form span{width:10%;}
    
    .DA_custom_form .DA_double{ width:80%!important; padding:0; float: none; display: inline-block; margin:16px 10%;}
    .DA_custom_form .DA_double span{ width:10%!important;}

    .DA_custom_form .horizontal .field{ width:84%!important;}
    .DA_custom_form .horizontal .dbl-lbl{ line-height: 18px!important}
    .DA_custom_form .horizontal span{ width:12%!important;}
    .DA_custom_form .horizontal label{ width:35%; line-height: 36px}
    .DA_custom_form .horizontal .DA_field_container{ width:64%; padding:4px 0;}

    .DA_field_container {padding:4px 0!important;}
    .DA_custom_form .sbHolder { padding:4px 0!important;}
    .DA_custom_form .sbToggle{ width:23px; font-size: 16px; top:7px!important; right:4px!important;}
    .DA_custom_form .sbSelector{top:5px!important;}

    .DA_custom_form span.checkbox, .DA_custom_form span.radio{ width:21%!important; }

    .demo-nav li.sfs{ display: none; float:none; position: static;}
    .demo-nav li ul{ left:auto; right:0;}
    .demo-nav li li{ margin:2px 0;}

    #popup{ top:20px;}
    
}

/* -------------------------------  Media Query Min Width 321 Max Width 640 ------------------------------- */

@media only screen and (min-width: 321px) and (max-width:640px){

    .DA_custom_form h3{ font-size: 20px;}
    .DA_custom_form span{ width:8%!important; }

    .DA_custom_form .field{ width:89%!important; }
    .DA_custom_form .btnp input{ height:45px; line-height: 45px; width:25%; }

    .DA_double{ width:80%!important; padding:0; float: none; display: block; margin:13px auto;}
    .DA_custom_form .sbToggle{ width:23px;  right:2%!important;}

    .DA_custom_form label{ font-size: 15px; padding-bottom: 2px; }
    .DA_custom_form label.fl{ font-size: 14px; margin-left:-20px;}
    .DA_custom_form label.error{ font-size: 13px; line-height: 20px; height:20px; bottom:-28px; }

    
        
    .DA_custom_form .horizontal label{ font-size: 14px}
    .DA_custom_form .horizontal span{ width:12%!important;}
    .DA_custom_form .horizontal .field{ width:85%!important;}
    .DA_custom_form .horizontal .sbHolder{ width:64%!important; float:left;}

    .DA_custom_form span.checkbox, .DA_custom_form span.radio{ width:15%!important; }
    
    .demo-nav li.sfs{ display: none; float:none; position: static; }
    .demo-nav li ul{ left:auto; right:0;}
    .demo-nav li li{ margin:2px 0;}

    #popup{ top:20px;}

}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari and Chrome */
    .DA_custom_form .horizontal .sbHolder {
     margin-top:-14px;
     position:relative;
    }

    /* Safari only override */
    ::i-block-chrome,.DA_custom_form .horizontal .sbHolder {
        margin-top:-14px;
        position:relative;
    }
}